@font-face{
    font-family:"title";
    src: url(/bootstrap/clients/res/Cream\ Cake.ttf);
}

.lila, h1, h2, h3, h4,  h5{
    color: rgb(108,92,231) !important;
}
.lila-clar{
    color: rgb(166,155,254) !important;
}
.groc{
    color: rgb(253,203,110) !important;
}
.groc-clar{
    color: rgb(255,234,167) !important;
}
h1{ 
    font-family: title;
}

.custom-button {
    width: 100px;
}
.image-container{
    max-width: 400px;
    height:auto;
}
.logo-container{
    width: 60px;
}
.moving-info {
    max-width: 350px;
    overflow: hidden;
    max-height: auto;
    position: relative;
    padding:10px;
}
#ingredientsList1, #ingredientsList2, #ingredientsList3, #ingredientsList4, #ingredientsList5, #ingredientsList6  {
    top: 240px;
    transition: 1s;
} 
 .cake-header-container{
    height: 120px;
}
.cake-image{
    height: auto;
    object-fit:cover;
    margin:auto;
}
.info-box{
    width: 80px;
}
/* .merch-image-container{
    height:100%;
    max-height:300px;
} */
.merch-image{
    /* display: block;
    width: 100%; */
    max-height: 300px;
    object-fit:cover;
    padding: 10px 0;
    margin:auto;
}
.btn-xlarge {
    padding: 8px 370px;
    font-size: 22px;
    line-height: normal;
    margin: auto;
}
.aside-left {
    margin: 10px;
    padding: 20px;
    max-height: 320px;
    border-radius: 10px;
}

@media (max-width: 768px){
    .cake-header-container{height: auto;}
}

/* #ingredients1:active .ingredients{
    animation: showInfo 1s;
}

@keyframes showInfo {
    from {left: 250px;}
    to {left: 0px;}
} */

@keyframes fadeIn{
    from{display: none;}
    to{display: inline;}
}