@font-face {
    font-family:"Montserrat";
    src: url(./Client_AlexFernandez/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family:"Roboto";
    src: url(./Client_AlexFernandez/Roboto/Roboto-Medium.ttf);
}

body{
    margin:0;
    padding:0;
    background-color: rgb(14, 40, 94);
}
.cont{
    margin:auto;
    margin-top:5%;
}
h1.header{
    font-family:"Montserrat";
    font-size:4em;
}
h1.header a{
    text-decoration: none;
    color:white;
}
img:hover{
    border:5px solid rgb(60, 83, 131);

}
#serv,#hist{
    font-family:"Montserrat";
}
#hi,#se{
    margin:auto;
    padding:auto;
    width:400px;
    align-content: center;
}
.carouselExampleSlidesOnly{
    width:400px;
    margin:auto;
}
.carousel-inner{
    height:310px;
    width:400px;
    margin:auto
    }
.carousel-item{
    height:310px;
    width:400px;
}
.carousel-item img {
    /* position: absolute; */
    object-fit:fill;
    /* top: 0;
    left: 0; */
    min-height: 200px;
    /* //prevent it from stretch in screen size < than 768px */
}
#footer{
    background-color: rgb(12, 36, 85);
    color:white;
    font-size:0.6em;
    font-family:"Roboto";
}
#moreinf{
    font-size:1.2em;
}
.fab{
    width:25px;
    font-size:2em;
}



