@font-face {
  font-family: poppins;
  src: url(./rsrc/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
  background-color: #16161a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;  
}

.pc {
  padding-right: 33px;
}

.view-60 {
  height: 60vh;
}

.view-30 {
  height: 30vh;
}

.img-corner {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40%,-40%); /*rotate(40deg);
  /* z-index: 100; */
}

.bg-gray {
  background-color:#595e66;
}

.bg-blanco {
  background-color:#fffffe;
}

.bg-violet {
  background-color: #7f5af0;
}

.t-color {
  color:  #fffffe;
}

.btn , .btn:hover{
  background-color: #7f5af0;
  border: none;
}

a {
  color: black;
}

@media only screen and (min-width: 992px) {

  .custom-grid{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2);
    grid-gap: 10px;
    width: 100%;
    grid-template-areas: 
    "a e e b"
    "a c d b"
    ;  
  }

  .cg-1 {
    grid-area: a;
  }

  .cg-2 {
    grid-area: b;
  }

  .cg-3 {
    grid-area: c;
  }

  .cg-4 {
    grid-area: d;
  }

  .cg-5 {
    grid-area: e;
  }
}
  @media only screen and (max-width: 991px) {

    .custom-grid{
      display: grid;
      grid-template-columns: repeat(2);
      grid-template-rows: repeat(3); 
      grid-gap: 10px;
      grid-template-areas: 
      "b b a a"
      "c c d d"
      "e e e e"
      ;  
    }
  
    .cg-1 {
      grid-area: a;
    }
  
    .cg-2 {
      grid-area: b;
    }
  
    .cg-3 {
      grid-area: c;
    }
  
    .cg-4 {
      grid-area: d;
    }
  
    .cg-5 {
      grid-area: e;
    }
  }